a, a:link, a:visited, .postmeta a:link, .postmeta a:visited, .postinfo a:link, .postinfo a:visited,
#comments a:link, #comments a:visited, #respond a:link, #respond a:visited, #logo h1, 
#navi ul li a:hover, .post-title, .post-title a:link, .post-title a:visited, #sidebar .widgettitle, 
#bottombar .widgettitle, #frontpage_widgets .widgettitle, #frontpage_posts h2, #frontpage_slide_keys a:hover  {
	color: #213d86;
}
#topnavi ul li a:hover, #topnavi ul li ul, #navi, .more-link, .arh, #slide_panel, #comments h3, #respond h3, 
.bypostauthor .fn, .wp-pagenavi .current, #sidebar ul li ul, #sidebar ul li div, #bottombar ul li ul, #bottombar ul li div,
#frontpage_slide_keys a:link, #frontpage_slide_keys a:visited, .frontpage_button {
	background: #213d86;
}
#wrapper {
	border-top: 7px solid #213d86;
	border-bottom: 7px solid #213d86;
}
.sticky {
	border-left: 4px solid #213d86;
}
.widget-tabnav li a { 
	color: #'.esc_attr($options['themeZee_colors_sidebar_widgets']).' !important;
}
.postmeta {
	border-top: 1px dotted #213d86;
	border-bottom: 1px dotted #213d86;
}
.commentlist .comment {
	border-top: 1px dotted #213d86;
}
#comments .children .comment {
	border-left: 2px solid #213d86;
	border-top: 1px dotted #213d86;
}
#frontpage_slider {
	border-bottom: 15px solid #213d86;
}
.widget-tabnav li a {
	color: #213d86 !important;
}